@model IEnumerable<ITIProject.Models.DBFiles.Department>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<h2>Department Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",null, new { @class = "btn btn-default" })
</p>
<table class="table table-bordered table-striped table-responsive">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Professor.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayName("Actions")
            </th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Professor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-primary btn-xs" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-secondary btn-xs" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
