@model IEnumerable<ITIProject.Models.DBFiles.Cource>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<h2>Course Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Free)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinDegree)
            </th>
            <th>
                @Html.DisplayName("Actions")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Professor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Free)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Degree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinDegree)
                </td>
                <td style="width:190px;">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-xs" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-secondary btn-xs" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }
    </tbody>
</table>
